* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a2540;
  padding: 15px 40px;
}

.menu-btn{
  font-size:28px;
  cursor:pointer;
}

#menu{
  display:none;
  position:absolute;
  right:20px;
  background:#222;
}

#menu a{
  display:block;
  color:#fff;
  padding:10px;
  text-decoration:none;
}

#menu a:hover{
  background:#444;
}

nav .logo {
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
  background: white;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
  color: #0a2540;
}

.hero-text h3 {
  margin: 10px 0;
}

.hero-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #0a2540;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #0a2540;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
section {
  padding: 50px;
  text-align: center;
}

.skills-container span {
  display: inline-block;
  background: #0a2540;
  color: white;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 20px;
}

/* PROJECTS */
.project-card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
}

/* FOOTER */
footer {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 15px;
}
/* MOBILE RESPONSIVENESS */
@media (max-width: 768px) {

  nav {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    margin-top: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-image img {
    width: 180px;
    height: 180px;
    margin-top: 20px;
  }

  section {
    padding: 40px 20px;
  }

  .project-card {
    margin: 15px;
  }
}

#get-in-touch {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f9fa;
}

#get-in-touch h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

#get-in-touch p {
  font-size: 16px;
  max-width: 600px;
  margin: auto;
  color: #555;
}
#contact {
  text-align: center;
  margin: 40px 0;
}

.contact-btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  color: white;
  transition: 0.3s ease;
}

.email {
  background-color: #007bff;
}

.whatsapp {
  background-color: #25D366;
}

.contact-btn:hover {
  opacity: 0.85;
}